<h1>Angular 2 Recursive List</h1>

<!-- <input type="text" #inputstring [(ngModel)]="folderName" [ngModelOptions]="{standalone: true}" (keyup)="filterdata()" placeholder="enter character">
<div> the all file : {{allFile}}</div>
<app-tree-view [treeData] ="myData" [allFile] ="allFile" *ngIf="isShowTree"></app-tree-view>
<button type="button" class="btn-primary" appDemo> Click Me !!</button> -->

<h2>Dynamic Form</h2>
<!-- <app-dynamic-form></app-dynamic-form> -->
<app-pagging-example></app-pagging-example>
