<ul>
    <li *ngFor="let node of treeData">
        <div class="one-row" (click)="toggleChildren(node)" appDemo>
            <!-- *ngIf="node.children && node.children.length > 0" -->
            <img [src]="node.expand ? 'assets/img/anh1.png' : 'assets/img/anh2.png'" style="width: 16px; height: 16px;">
            <span>{{node.name}}</span>
            <img *ngIf="node.children" class="arrow-icon" src='assets/img/anh2.png' style="width: 16px; height: 16px;">
            <!-- <span *ngIf="node.children">[+]</span> -->
        </div>
        
        <app-tree-view [treeData]="node.children" *ngIf="node.expand"></app-tree-view>
    </li>
  </ul>